<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ync.project.admin.mapper.ReservationMapper">

<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<resultMap type="com.ync.project.domain.ReservationVO" id="reservationMap">
		<id property="userid" column="userid"/>
		<result property="re_idx" column="re_idx"/>
		<result property="product_num" column="product_num"/>
		<result property="userid" column="userid"/>
		<result property="re_date" column="re_date"/>
		<result property="price" column="price"/>
		<result property="status" column="status"/>
	</resultMap>

	<select id="getList" resultMap="reservationMap">
	<![CDATA[
		SELECT *
	    FROM team_c_reservation 
	    where re_idx > 0 
		]]>
	</select>
	
	<insert id="insert">
	INSERT INTO team_c_reservation (re_idx,
	                                product_num,
	                                userid,
	                                re_date,
	                                price)
	                        values (team_c_seq_reservation.nextval,
	                               #{product_num},
	                               #{userid},
	                               sysdate,
	                               #{price})
	</insert>
	
	<insert id="insertSelectKey">
	<selectKey keyProperty="re_idx" order="BEFORE" resultType="long">
	SELECT team_c_seq_reservation.nextval FROM dual
	</selectKey>
	
	INSERT INTO team_c_reservation (re_idx,
	                                product_num,
	                                userid,
	                                re_date,
	                                price)
	                        values (#{re_idx},
	                                #{product_num},
	                                #{userid},
	                                sysdate,
	                                #{price})       
	</insert>
	
	<select id="read" resultMap="reservationMap">
	SELECT *
	FROM   team_c_reservation
	WHERE  re_idx = #{re_idx}
	</select>
	
	<delete id="delete">
	DELETE FROM team_c_reservation 
	WHERE  re_idx = #{re_idx}
	</delete>
	
	<update id="update">
	UPDATE team_c_reservation
	set status = #{status}
	WHERE reservation_idx = #{re_idx}
	</update>
	
	<select id="getListWithPaging" resultMap="reservationMap">
	<![CDATA[
	SELECT re_idx,
	       product_num,
	       userid,
	       re_date,
	       status
	FROM (SELECT /*+INDEX_DESC(team_c_reservation ta_xpk_reservation) */
	             rownum rn,
	             re_idx,
	             product_num,
	             userid,
	             re_date,
	             status
	      FROM team_c_reservation
	      WHERE 
	      ]]>
		<include refid="criteria"></include>
	      <![CDATA[
	      rownum <= #{pageNum} * #{amount}
	      )
	WHERE rn > (#{pageNum} -1) * #{amount}
	]]>

	</select>

	<select id="getTotalCount" resultType="int">
		select count(*) from
		team_c_review where review_idx > 0
	</select>
</mapper>
